* {
    margin: 0;
    padding: 4px;

}
p {
    
    color: rgb(6, 39, 52);
   
}

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: #819FA1;
    /* margin: 2rem; */
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

nav {
  border: 2px solid #910088;
  border-radius: 1rem;
  text-indent: 1rem;
  box-sizing: border-box;
    
}

.Image {
    float: left;
    margin: 1rem 1rem 1rem 1rem;
    height: auto;
    
}

.text {
    text-align: justify;
    text-orientation: sideways-right;
    justify-content: right;
}

.fav {
    color: rgb(27, 6, 103);
    border: 2px solid #910088;
    border-radius: 1rem;
    text-align: justify;
    /* padding: 1rem;        */
}



.others {
    color: rgb(27, 6, 103);
    border: 2px solid #910088;
    border-radius: 1rem;
    text-align: justify;
    /* padding: 1rem; */
}

.container {
  border: 10px double rgb(171, 6, 91);  
  outline: 3px solid #124E78;
  outline-offset: -18px;
  padding-left: 1.5rem;
  width: 18%;
  margin: auto;
  border-radius: 20%;
}

.column {
   column-count: 2; 
   column-rule: 3px solid #910088;
   /* break-inside: avoid; */
}

/* .column p {
    margin-top: 0;
    break-inside: avoid;
    break-before:column;
} */

/* .nowrap {
    white-space: nowrap;
} */

a {
    color: #64113F;
}
a:hover, a:focus {
    color: #d80da9;
   
}

ol {
    list-style-type:decimal;
}

ul {
    list-style-type: circle;
    list-style-image: url('../img/Green\ Tick\ 1.png');
}



